body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table {
  border: 1px solid black;
  margin: 5%;
  width: max-content;
  display: flex;
}

.table .column .cell {
  border: 1px solid black;
  margin: 0;
  padding: 6px;
  text-align: center;
  width: 90px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}
